html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}
.search-form {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.search-button {
  position: relative;
  display: inline-block;
  font-size: 100%;
  font-weight: 700;
  color: #fff;
  text-shadow: #053852 -1px 1px, #053852 1px 1px, #053852 1px -1px,
    #053852 -1px -1px;
  text-decoration: none;
  user-select: none;
  padding: 0.3em 0.7em;
  outline: none;
  border-radius: 7px;
  background: #053852
    repeating-linear-gradient(
      135deg,
      #053852,
      #053852 10px,
      #1679ad 10px,
      #1679ad 20px,
      #053852 20px
    );
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3),
    inset 2px 2px rgba(255, 255, 255, 0.3);
  transition: background-position 999999s, color 999999s, text-shadow 999999s;
}

.search-button:hover,
.search-button:focus {
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px,
    #0175b1 -1px -1px;
  background: #0175b1
    repeating-linear-gradient(
      135deg,
      #0175b1,
      #0175b1 10px,
      #8fd2f5 10px,
      #8fd2f5 20px,
      #0175b1 20px
    )
    no-repeat;
  background-size: 1000% 100%;
}
.search-more--button {
  display: flex;

  margin-right: auto;
  margin-left: auto;

  /* position: relative;
  display: inline-block; */
  font-size: 100%;
  font-weight: 700;
  color: #fff;
  text-shadow: #053852 -1px 1px, #053852 1px 1px, #053852 1px -1px,
    #053852 -1px -1px;
  text-decoration: none;
  user-select: none;
  padding: 0.3em 0.7em;
  outline: none;
  border-radius: 7px;
  background: #053852
    repeating-linear-gradient(
      135deg,
      #053852,
      #053852 10px,
      #1679ad 10px,
      #1679ad 20px,
      #053852 20px
    );
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3),
    inset 2px 2px rgba(255, 255, 255, 0.3);
  transition: background-position 999999s, color 999999s, text-shadow 999999s;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.photo-card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: mediumseagreen;

  border: 1px solid #eeeeee;

  list-style: none;
}

.photo-card:nth-child(3n) {
  margin-right: 0;
}
.photo-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.stats {
  display: flex;
  justify-content: center;
}

.stats-item {
  display: block;
  text-align: center;

  margin-right: 20px;
  margin-left: 20px;
}

span {
  display: block;
}
.is-hidden {
  display: none;
}
